.table-container {
  border-collapse: collapse;
  width: 100%;
}

.table-container th,
.table-container td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.table-container th {
  background-color: #f2f2f2;
}
