.description {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #000000;
  color: #add8e6;
  font-size: 30px;
  font-style: italic;
  font-weight: bold;
  margin: 0;
}
.new_exam {
  background-color: #add8e6;
  width: 200px;
  height: 70px;
  font-size: 25px;
  font-weight: bold;
  border-width: thick;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
