/* styles from here: https://codepen.io/samnorton/pen/zBYMJG */
.navbar {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border: 1px solid #a2a2a2;
  background-color: #f4f4f4;
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  border-radius: 5px;
}

.main-nav {
  display: flex;
  margin-top: 5px;
}

.logo {
  margin: 0;
  font-size: 1.45em;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link-names {
  padding: 10px 15px;
  text-transform: uppercase;
  text-align: center;
  display: block;
  color: #34495e;
  font-size: 0.99em;
}
