.navbar {
  background-color: #333;
  padding: 10px 20px;
  display: flex;
  justify-content: space-evenly; /* spaces items horizontally */
  align-items: center; /* centers items vertically */
}
.nav-link {
  color: white;
  text-decoration: none;
  font-size: 20px;
}
.nav-link:hover {
  color: #00A2FF; /* Change color on hover */
}